.wrapper {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    background-color: white;
    overflow: auto;

}

@media (min-width: 320px) and (max-width: 670px) {
    .wrapper {
        height: 60vh;
    }
}