.header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.wrapper {
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #4b4d4a;

}
