@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header {
    width: 80%;
    height: 10vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title {
    min-width: 10%;
    max-width: 30%;
    color: #8cc054;
    font-size: 2rem;
    font-weight: 900;
}

.statistic {
    min-width: 60%;
    max-width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.statistic p {
    padding-right: 1em;
    font-size: 1.3rem;
    font-weight: 600;
}

.date {
    min-width: 15%;
    max-width: 30%;

}

@media (min-width: 670px) and (max-width: 1175px) {
    .header {
        width: 90%;
    }

    .statistic {
        min-width: 35%;
        max-width: 50%;
        margin-left: 2em;
    }

    .date {
        min-width: 30%;
        max-width: 40%;
    }
}

@media (min-width: 320px) and (max-width: 670px) {
    .header {
        width: 90%;
        height: 15vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .title {
        max-width: 100%;
    }

    .statistic {
        max-width: 100%;
        justify-content: center;
    }

    .date {
        max-width: 100%;
    }
}