/* eslint-disable */
.wrapper {
  position: relative;
  width: 60%;
  min-height: 11vh;
  height: auto;
  background-color: #e2e2e2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  border-radius: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  overflow: hidden;
}

.wrapperMyMessage {
  composes: wrapper;
  background-color: #4b4d4a;
  margin-left: 38%;
  margin-right: 2%;
}

.img {
  position: absolute;
  width: 8%;
  max-width: 10em;
  height: auto;
  min-width: auto;
  min-height: auto;
  top: 0.8vh;
  left: 2%;
}

.title {
  position: absolute;
  top: 1vh;
  left: 13%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #8cc054;
}

.text {
  position: absolute;
  top: 4vh;
  left: 13%;
}

.textMyMessage {
  composes: text;
  color: white;
}

.date {
  position: absolute;
  top: 1vh;
  right: 2%;
  color: #4b4d4a;
  font-size: 0.7rem;
}

.dateMyMessage {
  composes: date;
  color: #e2e2e2;
}

.like {
  position: absolute;
  bottom: 1vh;
  right: 2%;

}

.likeName {
  composes: like;
  right: 7%;
}


.delete {
  position: absolute;
  width: 1.5em;
  height: 1em;
  bottom: 1vh;
  right: 2%;
  text-align: justify;
  line-height: 30%;
  box-sizing: border-box;
  color: white;
  background-color: rgb(231, 55, 55);
  border: none;
  transition: 0.5;
  cursor: pointer;
}

.delete:active {
  color: rgb(158, 88, 88);
}

.edit {
  position: absolute;
  bottom: 1vh;
  right: 7%;
  width: 2em;
  height: 1em;
  text-align: justify;
  line-height: 50%;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #8cc054;
}

.edit:active {
  color: #79945d;
}

@media (min-width:630px) and (max-width: 1100px) {
  .wrapper {
    width: 85%;
  }

  .wrapperMyMessage {
    width: 85%;
    margin-left: 13%;
  }

  .title {
    top: 1vh;
    left: 15%;
    font-size: 1.2rem;
  }

  .text {
    width: 80%;
    top: 4vh;
    left: 15%;
  }

  .edit {
    right: 8%;
  }
}

@media (min-width:450px) and (max-width: 630px) {
  .wrapper {
    width: 85%;
  }

  .wrapperMyMessage {
    width: 85%;
    margin-left: 13%;
  }

  .title {
    top: 1vh;
    left: 15%;
    font-size: 1.2rem;
  }

  .text {
    width: 80%;
    top: 7vh;
    left: 10%;
  }

  .edit {
    right: 10%;
  }

  .likeName {
    right: 9%;
  }
}

@media (min-width:320px) and (max-width: 450px) {
  .wrapper {
    width: 85%;
  }

  .wrapperMyMessage {
    width: 85%;
    margin-left: 13%;
  }

  .title {
    top: 2vh;
    left: 15%;
    font-size: 1.2rem;
  }

  .text {
    width: 80%;
    top: 5vh;
    left: 5%;
  }

  .edit {
    right: 12%;
  }

  .likeName {
    right: 11%;
  }
}
